target
generated_card_svgs/*
generated_card_pngs/*
cards_alt_seed/*
boards/*
launch.json
settings.json
Cargo.lock
P1_manual.html
P1manual.svg
todo.md
final_means_svgs/*
final_ends_svgs/*
final_land_svgs/*
final_means_pngs/*
final_ends_pngs/*
final_land_pngs/*
final_surplus_land_svgs/*
final_surplus_land_pngs/*
P1_cards.png
P1_gamegram.png
P1_primary_cards.png
land_as_cards/*
print_and_play_svgs/*
print_and_play_pngs/*